.service,
.notice_annount,.hot_activity {
	padding: 0 20rpx;
}
.test {
	font-family: iconfont;
	margin-left: 20rpx;
}
.scroll-Y{
	height:700rpx;
}
.indexHome{
	/* background:#fff; */
	/* background:#E6CEAC; */
}
page{
	background:#f8f8f8;
}