.service,
.notice_annount,
.category_home,.news_prople,.hot_activity {
	padding: 0 20rpx;
}
.test {
	font-family: iconfont;
	margin-left: 20rpx;
}
.page{
	/* background:#fff; */
	/* background:#E6CEAC; */
}

