page{
	background:#f4f4f4;
}
.realNameView{
	padding:24rpx 0;
	.tip{
		padding:0 32rpx;
		font-size:30rpx;
		display:flex;
		flex-direction:row;
		.uni-icon-wenti{
			flex:0 0 40rpx;
			height:40rpx;
		}
		.info{
			flex:1;
			text-indent:10rpx;
			line-height:50rpx;
			color:#888;
		}
	}
	.realInput{
		background:#fff;
		.realNameInputView{
			display:flex;
			flex-direction:row;
			width:680rpx;
			margin:12rpx auto 0;
			padding:0 10rpx;
			border-bottom:1px solid #f9f9f9;
			.flexBankView{
				flex:0 0 1;
				font-size:28rpx;
				line-height:96rpx;
				color:#777;
				&.title{
					width:160rpx;
					display:block;
					color:#333;
				}
				&.input{
					flex:0 0 460rpx;
					.realNameInput,.cartId{
						height:52rpx;
						line-height:52rpx;
						margin-top:22rpx;
						font-size:28rpx;
					}
				}
				&.iconRight{
					.uni-icon-wenti{
						display:block;
						line-height:95rpx;
					}
				}
			}
			&.realNameInputView:nth-last-child(1){
				border-bottom:none;
			}
		}
	}
	.submit_realName{
		margin-top:36rpx;
		padding:0 30rpx;
		button{
			background:#1b82d1
		}
	}
	.state{
		width:40rpx;
		height:40rpx;
		margin-top:30rpx;
		margin-left:15rpx;
		border-radius:50%;
		background:rgba(0,0,0,.3);
		text-align:center;
		line-height:40rpx;
		color:#eee;
	}
	.oNrealName{
		.oNrealNameIcon{
			width:260rpx;
			height:260rpx;
			margin:80rpx auto 0;
			text-align:center;
			background:#f8f8f8;
			border-radius:50%;
			line-height:260rpx;
			border:solid 1px #eee;
		}
		.onRealNameText{
			font-size:38rpx;
			text-align:center;
			line-height:130rpx;
		}
		.breakUserCenter{
			width:280rpx;
			background:#1b82d1;
			line-height:80rpx;
			font-size:28rpx;
			text-align:center;
			color:#f8f8f8;
			border-radius:10rpx;
			margin:20rpx auto 0;
		}
	}
}