.my_page{
	background:#eee;
	/*头像，实名，用户名，设置*/
	.my_top_box{
		height:200rpx;
		background:#1b82d1;
		display:flex;
		flex-direction:row;
		padding:0 20rpx;
		.my_tops{
			flex:0 0 1;
		}
		.avatar_top{
			width:200rpx;
			flex:0 0 200rpx;
			.icon_avatar{
				width:130rpx;
				height:130rpx;
				border:solid 6rpx #60a9e0;
				border-radius:10rpx;
				margin:20rpx;
				position:relative;
				.icons_single{
					width:130rpx;
					height:130rpx;
					overflow:hidden;
					border-radius:10rpx;
					.avatar{
						width:100%;
						height:100%;
					}
				}
				.vip{
					position:absolute;
					width:50rpx;
					height:50rpx;
					background:#fff;
					bottom:-16rpx;right:-16rpx;
					border-radius:50%;
					.vip_center{
						width:42rpx;
						height:42rpx;
						background:#e3ad89;
						border-radius:50%;
						margin:5rpx 5rpx;
						font-size:24rpx;
						text-align:center;
						line-height:40rpx;
						font-weight:bold;
						color:#fff;
					}
				}
			}
		}
		.userInfo{
			width:420rpx;
			flex:0 0 420rpx;
			.realName{
				margin:20rpx 0rpx 30rpx 0;
				.goReadName,.goReadNameTwo{
					font-size:24rpx;
					display:inline-block;
					border:solid 1rpx rgba(255,255,255,.3);
					padding:8rpx;
					color:#d5e8f7;
					border-radius:10rpx;
				}
				.goReadNameTwo{
					width:170rpx;
					.readNameSuccess{
						padding:0 10rpx 0;
					}
				}
			}
			.emial_userName{
				width:220rpx;
				height:50rpx;
				background: rgba(255,255,255,.1);
				padding:0 20rpx;
				border-radius:50rpx;
				border:2rpx solid rgba(255,255,255,.2);
				.email{
					font-size:28rpx;
					display:block;
					color:#d5e8f7;
					line-height:50rpx;
					text-align:center;
				}
			}
		}
		.setting{
			width:90rpx;
			flex:0 0 90rpx;
			.setting_arrow{
				width:90rpx;
				line-height:200rpx;
				transform: rotate(180deg);
			}
		}
	}
	/*账户余额，可用余额，冻结余额*/
	.money_box{
		height:140rpx;
		padding:0 20rpx;
		background:#1b82d1;
		border-top:1rpx dashed rgba(255,255,255,.1);
		display:flex;
		flex-direction:row;
		.money{
			flex:1;
			height:140rpx;
			font-size:26rpx;
			color:#eee;
			text-align:center;
			position:relative;
			.num{
				line-height:80rpx;
				font-size:38rpx;
			}
			.rate{
				font-size:22rpx;
			}
			.right_line{
				position:absolute;
				right:0;
				height:80rpx;
				width:2rpx;
				background:#eee;
				top:30rpx;
				opacity:.2;
			}
		}
	}
	/*钱包与充提*/
	.withdraw_rechange_moneyBag{
		background:#fff;
		margin:20rpx 0 0 0;
		.withdraw_rechange_title{
			padding:0 20rpx;
			font-size:28rpx;
			text-indent:20rpx;
			line-height:70rpx;
			border-bottom:1px solid #eee;
			color:#999;
		}
		.withdraw_rechange_grid{
			display:flex;
			flex-direction:row;
			padding:0 20rpx;
			.intOut{
				flex:1;
				text-align:center;
				margin:20rpx 0;
				.icon_int{
					width:74rpx;
					height:74rpx;
					margin:0 auto;
					border-radius:12rpx;
					background:#1b82d1;
					line-height:65rpx;
					&.rechange{
						background:#F5A623;
					}
					&.withdraw{
						background:#FD5E5E;
					}
				}
				.intOutText{
					font-size:26rpx;
					display:block;
					line-height:46rpx;
					color:#999;
				}
			}
		}
	}
	/* 九宫格布局 */
	.grid_row_list{
		.grid_box{
			background:#fff;
			margin-top:20rpx;
			.grid-title{
				display: flex;
				align-items: center;
				font-size: 28rpx;
				color: rgba(0,0,0,.63);
				padding: 30rpx 40rpx;
				// view{
				// 	width: 8upx;
				// 	height: 30upx;
				// 	background-color: rgba(255,82,65,1);
				// 	margin-right: 20upx;
				// }
			}
			.grid{
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				border-top: 2rpx solid rgba(172,172,172,.2);
				.grid-item-3,.grid-item-4{
					box-sizing: border-box;
					width: calc(100% / 3);
					border-bottom: 2rpx solid rgba(172,172,172,.2);
					border-right: 2rpx solid rgba(172,172,172,.2);
					text-align: center;
					padding: 40rpx 0;
					position: relative;
					image{
						width: 48rpx;
						height: 48rpx;
					}
					view{
						font-size: 24rpx;
						margin-top: 12rpx;
						color: rgba(0,0,0,.53);
					}
					text{
						display: block;
						text-align: center;
						border-radius: 36rpx;
						font-size: 24rpx;
						padding:4rpx 12rpx;
						background-color: rgba(255,82,65,1);
						color: rgba(255,255,255,1);
						position: absolute;
						right: 6rpx;
						top: 6rpx;
					}
				}
				.grid-item-3:nth-child(3n + 3),.grid-item-4:nth-child(4n + 4){
					border-right: none;
				}
				.grid-item-4{
					width: calc(100% / 4);
				}
			}
		}
	}
}