page{
	background:#f8f8f8;
}
.setLoginPwd{
	.setTopView{
		height:200rpx;
		border-top:1px solid #f3f3f3;
		background:#fff;
		.userText1{
			margin-top:22rpx;
		}
		.userText1,.newText2{
			text-align:center;
			font-size:32rpx;
			color:#777;
		}
		.userAccount{
			text-align:center;
			font-size:32rpx;
			font-weight:bold;
			color:#444;
			line-height:62rpx;
		}
	}
	.setting_box{
		margin-top:22rpx;
		.setting_list{
			display:flex;
			flex-direction: row;
			padding:22rpx 10rpx;
			border-bottom:1px solid #f8f8f8;
			background:#fff;
			&.setting_top{
				border-top:#f3f3f3 solid 1px;
			}
			.setting_title{
				flex:0 0 60%;
				width:60%;
				color:#666;
				font-size:32rpx;
				line-height:60rpx;
				color:#666;
				.emailView{
					height:100%;
					border:none;
					outline: none;
					font-size:30rpx;
				}
			}
			.setting{
				flex:0 0 40%;
				width:40%;
				text-align:right;
				.code{
					background:#1b82d1;
					margin-top:10rpx;
				}
			}
			.password{
				flex:0 0 90%;
				width:90%;
			}
			.setting_icon{
				flex:0 0 10%;
				width:10%;
				text-align:center;
			}
		}
	}
	.submit_button{
		padding:0 26rpx;
		.submit_btn{
			font-size:32rpx;
			background:#1b82d1;
			margin-top:30rpx
		}
	}
}
.imgCode{
	width:100%;
	display:flex;
	flex-direction: row;
	margin:20rpx 0;
	height:65rpx;
	border-bottom:1px solid #eee;
	.imgInput{
		padding:0 14rpx;
		height:60rpx;
		text-align:left;
		color:#666;
		font-size:32rpx;
		flex:1;
	}
	.imgView{
		flex:1;
		height:65rpx;
		img{
			width:100%;
			height:100%;
		}
	}
}
.btn{
	display:flex;
	flex-direction:row;
	.comfirm{
		background:#1b82d1;
		font-size:26rpx;
		flex:1;
		margin:0 10rpx;
	}
	.canlen{
		border:1px solid #1b82d1;
		color:#1b82d1;
		font-size:26rpx;
		flex:1;
		margin:0 10rpx;
	}
}
.phoneCode{
	text-align:center;
	font-size:28rpx;
	width:400rpx;
}
.setting_top{
	padding:0 30rpx;
	background:#fff;
	border-top:1px solid #f3f3f3;
	border-bottom:1px solid #f3f3f3;
}