$bgColor:#fff; /* 背景颜色 */
$materColor:rgb(27, 130, 209); /* 主题颜色 */
$fontColor:#666; /* 字体颜色 */ 
$skeleton:#efefef; /*骨架颜色*/

/* 颜色 */
.daytime{
	background-color:$bgColor;
	height:100%;
}
/* 自定义头部导航颜色(白天) */
.tabbar_navigator{
	background-color:$materColor;
}
/* 自定义tabbar颜色(白天) */
.tabbar_footer{
	background-color:$bgColor;
	border-top:1rpx #eee solid;
}
/* 图标颜色和样式 */
.uni-icon-kefu{
	color: $materColor !important;
	margin-top:2rpx;
}
/* 首页客服字体颜色 */
.service-icon,.service-text{
	color:$materColor;
}
.service-skeleton{
	background:#d8e6f6;
}
/* 首页通知字体颜色 */
.noticeBox{
	background:#fff;
}
.text,.notice_icon{
	color:#333;
}
/* 首页套餐分类颜色 */
.category_home .category_list{
	opacity:1;
}
.category_skeleton{
	background:$skeleton;
}
/* 新手引导字体颜色 */
.news_prople .news_images{
	box-shadow:0 -4rpx 3rpx 2rpx rgba(0,0,0,.05), 0 5rpx 5rpx 0 #afbae5
}
.news_prople .news_title,.news_prople .news_text{
	color:$fontColor
}
.news_title_box{
	background:$skeleton
}
.news_skeleton{
	background:$skeleton
}
.news_title_box{
	background:$skeleton
}
/* 首页活动 */
.hot_activity .activity_title{
	color:$fontColor
}
.activity_image_skeleton,.activity_boxs .activity_list{
	background:$skeleton
}

/*行情分类*/
.category_boxs .category_list{
	background:$skeleton
}

/* 登陆 */
.login_submit_int{
	background:$materColor !important;
	color:#eee !important;
}