/**
 * 标准字体样式
 */
$uni-standard-20:20upx;
$uni-standard-22:22upx;
$uni-standard-24:24upx;
$uni-standard-26:26upx;
$uni-standard-28:28upx;
$uni-standard-30:30upx;
$uni-standard-32:32upx;
$uni-standard-34:34upx;
$uni-standard-36:36upx;
$uni-standard-38:38upx;
$uni-standard-40:40upx;

.daytime1{
	// 首页
	.service-text{
		font-size:$uni-standard-28;
	}
	.category_home{
		.icon{
			font-size:$uni-font-size-base;
		}
		.categoryText{
			font-size:$uni-font-size-sm;
		}
	}
	.text,.category_text,.news_title,.activity_text,.news_text{
		font-size:$uni-font-size-sm;
	}
	// 公告
	.annount_list{
		.atitle{
			font-size:$uni-font-size-base;
		}
		.annount_body{
			font-size:$uni-font-size-sm;
		}
		.annount_time{
			font-size:$uni-font-size-sm;
		}
	}
	// 行情
	.top-warp{
		.tabs{
			font-size:$uni-font-size-sm;
		}
	}
	.pd-list{
		.icon{
			font-size:$uni-font-size-sm;
		}
		.market_title{
			font-size:$uni-font-size-sm;
		}
		.market_percentage {
			font-size:$uni-standard-20;
		}
		.market_remark{
			font-size:$uni-standard-24;
		}
		.undulate_price{
			font-size:$uni-standard-34;
			margin-bottom:8upx;
		}
		.market_Timer{
			font-size:$uni-standard-24;
		}
		.upDropSpeedText{
			font-size:$uni-standard-24;
		}
	}
	// 行情图页面
	.marketHeader{
		.right_btn{
			font-size:$uni-standard-26;
		}
	}
	.marketChartInfo{
		.name{
			font-size:$uni-standard-36;
		}
		.code{
			font-size:$uni-font-size-sm;
		}
		.marketPrice_ratio{
			.blockLeft{
				font-size:$uni-standard-40;
			}
			.blockRight{
				.one,.two{
					font-size:$uni-standard-28;
				}
			}
		}
		.positionBtn{
			font-size:$uni-standard-24;
		}
		.nowPositionTimer{
			font-size:$uni-standard-26;
		}
		.buyMallNum{
			font-size:$uni-standard-26;
		}
	}
	.quickOrder{
		.rise-top{
			font-size:$uni-standard-32;
		}
		.rise-bottom{
			font-size:$uni-standard-32;
		}
		.quick-text{
			font-size:$uni-standard-24;
		}
	}
	.quick{
		.model{
			font-size:$uni-standard-30;
		}
		.hand-num-view,.stop-loop-amount{
			font-size:$uni-standard-24;
		}
	}
	// 登陆
	.login_form{
		.userPhone,.userPassword{
			font-size:$uni-font-size-sm;
		}
		.forget_password,.checkBoxText,.login_submit_int{
			font-size:$uni-font-size-sm;
		}
	}
	// 我的
	.all_intOut{
		.rate,.item_text,.intOutText,.email,.withdraw_rechange_title,.grid-title{
			font-size:$uni-font-size-sm;
		}
		.goReadName,.goReadNameTwo{
			font-size:$uni-standard-28;
		}
		.num{
			font-size:$uni-standard-34;
		}
	}
	.noLogin{
		.go{
			font-size:$uni-font-size-sm;
		}
	}
	// 设置
	.setting_box{
		.setting_title{
			font-size:$uni-font-size-sm;
		}
	}
	// 钱包
	.balance_list{
		.balance_flex,.btn{
			font-size:$uni-font-size-sm;
		}
	}
	// 实名认证
	&.realNameView{
		.tip{
			font-size:$uni-font-size-sm;
		}
		.realInput{
			.realNameInputView,.realNameInput,.cartId{
				font-size:$uni-font-size-sm;
			}
		}
		.submit_realName{
			button{
				font-size:$uni-font-size-base;
			}
		}
	}
	// 提现
	.withdrawBox{
		.nowMoneyNum,.withdraw_text,.bankName,.goBank,.noBindBanks{
			font-size:$uni-font-size-sm;
		}
	}
	.addNewBank,.selectBankName{
		font-size:$uni-font-size-sm;
	}
	.tipView{
		.title{
			font-size:$uni-font-size-base;
		}
		.p1{
			font-size:$uni-font-size-sm;
		}
	}
	// 银行卡
	.tip_box{
		.sp2{
			font-size:$uni-standard-30;
		}
		.sp3{
			font-size:$uni-standard-28;
		}
	}
	.titles,.add_text{
		font-size:$uni-standard-28;
	}
	// 添加银行卡
	.addBank_tip{
		font-size:$uni-font-size-base;
	}
	.flexBankView{
		font-size:$uni-font-size-sm;
	}
	.bankNumber{
		font-size:$uni-font-size-sm;
	}
	.submit_cartNumber{
		button{
			font-size:$uni-font-size-sm;
		}
	}
	// 安全中心
	.userBindInfo{
		.bind{
			font-size:$uni-standard-32;
		}
	}
	// 充值记录
	&.rechargeRecordView{
		.rechargeView{
			.rechargeTitle{
				font-size:$uni-font-size-base;
			}
			.rechargeBox,.typeTimer{
				font-size:$uni-font-size-sm;
			}
		}
		.selectBtn{
			.btn{
				font-size:$uni-font-size-sm;
			}
		}
	}
	// 充值类型
	.typeTerm,.typeTerm1,.typeTerm2,.typeTerm3,.typeTerm4,.typeTerm5,.typeTerm6,.typeTerm7,.typeTerm8{
		.typeTermTitle{
			font-size:$uni-font-size-sm;
		}
		.typeList,.typeTimer,.typeBox{
			font-size:$uni-font-size-sm;
		}
	}
	// 提现记录
	&.withdrawRecordView{
		.withdrawView{
			.withdrawTitle{
				font-size:$uni-font-size-base;
			}
			.withdrawBox{
				font-size:$uni-font-size-sm;
			}
		}
		.selectBtn{
			.btn{
				font-size:$uni-font-size-sm;
			}
		}
	}
	// 设置个人资料
	.setting_box{
		.emailView,.setting_title,.submit_btn{
			font-size:$uni-font-size-sm;
		}
		.submit_button{
			.submit_btn{
				font-size:$uni-font-size-base;
			}
		}
	}
	// 设置登陆密码
	.setTopView{
		.userText1,.userAccount,.userText1,.newText2{
			font-size:$uni-font-size-base;
		}
	}
	.setLoginPwds,.setFundsPwds{
		.setting_title{
			font-size:$uni-font-size-sm;
		}
		.setting{
			button{
				font-size:$uni-standard-26;
			}
		}
		.submits{
			.submit_btn{
				font-size:$uni-font-size-sm;
			}
		}
	}
	// 字体大小
	&.fontSizeView{
		.bindInfo{
			font-size:$uni-font-size-sm;
		}
	}
	// 交易明细
	&.tradeRecordView{
		.condition{
			font-size:$uni-font-size-sm;
		}
		.tradeType,.dateTimer,.type{
			font-size:$uni-standard-24;
		}
		.tradeBodyDetails{
			.tradeTitle{
				.p1{
					font-size:$uni-standard-28;
				}
			}
			.tradeContainer{
				font-size:$uni-standard-24;
			}
		}
		.selectButton{
			.btn{
				font-size:$uni-font-size-sm;
			}
		}
	}
}


/**
 * 加大号字体样式
 */
$uni-addBig-26:26upx;
$uni-addBig-28:28upx;
$uni-addBig-30:30upx;
$uni-addBig-32:32upx;
$uni-addBig-34:34upx;
$uni-addBig-36:36upx;
$uni-addBig-38:38upx;
$uni-addBig-40:40upx;
$uni-addBig-42:42upx;

.daytime2{
	// 首页
	.service-text{
		font-size:$uni-addBig-30;
	}
	.category_home{
		.icon{
			font-size:$uni-font-size-lg;
		}
		.categoryText{
			font-size:$uni-font-size-base;
		}
	}
	.text,.category_text,.news_title,.activity_text{
		font-size:$uni-font-size-base;
	}
	.news_text{
		font-size:$uni-font-size-sm;
	}
	// 公告
	.annount_list{
		.atitle{
			font-size:$uni-font-size-lg;
		}
		.annount_body{
			font-size:$uni-font-size-sm;
		}
		.annount_time{
			font-size:$uni-font-size-sm;
		}
	}
	// 行情
	.top-warp{
		.tabs{
			font-size:$uni-font-size-base;
		}
	}
	.pd-list{
		.icon{
			font-size:$uni-font-size-base;
		}
		.market_title{
			font-size:$uni-font-size-base;
		}
		.market_percentage {
			font-size:$uni-addBig-26;
		}
		.market_remark{
			font-size:$uni-addBig-28;
		}
		.undulate_price{
			font-size:$uni-addBig-36;
			margin-bottom:5upx;
		}
		.market_Timer{
			font-size:$uni-addBig-26;
		}
		.upDropSpeedText{
			font-size:$uni-addBig-26;
		}
	}
	// 行情图页面
	.marketHeader{
		.right_btn{
			font-size:$uni-addBig-28;
		}
	}
	.marketChartInfo{
		.name{
			font-size:$uni-addBig-38;
		}
		.code{
			font-size:$uni-addBig-32;
		}
		.marketPrice_ratio{
			.blockLeft{
				font-size:$uni-addBig-42;
			}
			.blockRight{
				.one,.two{
					font-size:$uni-addBig-32;
				}
			}
		}
		.positionBtn{
			font-size:$uni-addBig-26;
		}
		.nowPositionTimer{
			font-size:$uni-addBig-28;
		}
		.buyMallNum{
			font-size:$uni-addBig-28;
		}
	}
	.quickOrder{
		.rise-top{
			font-size:$uni-addBig-34;
		}
		.rise-bottom{
			font-size:$uni-addBig-34;
		}
		.quick-text{
			font-size:$uni-addBig-26;
		}
	}
	.quick{
		.model{
			font-size:$uni-addBig-34;
		}
		.hand-num-view,.stop-loop-amount{
			font-size:$uni-addBig-28;
		}
	}
	// 登陆
	.login_form{
		.userPhone,.userPassword{
			font-size:$uni-font-size-base;
		}
		.forget_password,.checkBoxText{
			font-size:$uni-font-size-base;
		}
		.login_submit_int{
			font-size:$uni-font-size-lg;
		}
	}
	// 我的
	.all_intOut{
		.rate,.item_text,.intOutText,.email,.withdraw_rechange_title,.grid-title{
			font-size:$uni-font-size-base;
		}
		.goReadName,.goReadNameTwo{
			font-size:$uni-addBig-28;
		}
		.num{
			font-size:$uni-addBig-38;
		}
	}
	.noLogin{
		.go{
			font-size:$uni-font-size-base;
		}
	}
	// 实名认证
	&.realNameView{
		.tip{
			font-size:$uni-font-size-base;
		}
		.realInput{
			.realNameInputView,.realNameInput,.cartId{
				font-size:$uni-font-size-base;
			}
		}
		.submit_realName{
			button{
				font-size:$uni-font-size-base;
			}
		}
	}
	// 设置
	.setting_box{
		.setting_title{
			font-size:$uni-font-size-base;
		}
	}
	// 钱包
	.balance_list{
		.btn{
			font-size:$uni-addBig-32;
		}
		.balance_flex{
			font-size:$uni-font-size-base;
		}	
	} 
	// 提现
	.withdrawBox{
		.nowMoneyNum,.withdraw_text,.bankName,.goBank,.noBindBanks{
			font-size:$uni-font-size-base;
		}
	}
	.addNewBank,.selectBankName{
		font-size:$uni-font-size-base;
	}
	.tipView{
		.title{
			font-size:$uni-font-size-lg;
		}
		.p1{
			font-size:$uni-font-size-base;
		}
	}
	// 银行卡
	.tip_box{
		.sp2{
			font-size:$uni-addBig-34;
		}
		.sp3{
			font-size:$uni-addBig-30;
		}
	}
	.titles,.add_text{
		font-size:$uni-addBig-30;
	}
	// 添加银行卡
	.addBank_tip{
		font-size:$uni-font-size-base;
	}
	.flexBankView{
		font-size:$uni-font-size-base;
	}
	.bankNumber{
		font-size:$uni-font-size-base;
	}
	.submit_cartNumber{
		button{
			font-size:$uni-font-size-base;
		}
	}
	// 安全中心
	.userBindInfo{
		.bind{
			font-size:$uni-addBig-34;
		}
	}
	// 充值记录
	&.rechargeRecordView{
		.rechargeView{
			.rechargeTitle{
				font-size:$uni-font-size-lg;
			}
			.rechargeBox,.typeTimer{
				font-size:$uni-font-size-base;
			}
		}
		.selectBtn{
			.btn{
				font-size:$uni-font-size-base;
			}
		}
	}
	// 充值类型
	.typeTerm,.typeTerm1,.typeTerm2,.typeTerm3,.typeTerm4,.typeTerm5,.typeTerm6,.typeTerm7,.typeTerm8{
		.typeTermTitle{
			font-size:$uni-font-size-base;
		}
		.typeList,.typeTimer,.typeBox{
			font-size:$uni-font-size-base;
		}
	}
	// 提现记录
	&.withdrawRecordView{
		.withdrawView{
			.withdrawTitle{
				font-size:$uni-font-size-lg;
			}
			.withdrawBox{
				font-size:$uni-font-size-base;
			}
		}
		.selectBtn{
			.btn{
				font-size:$uni-font-size-base;
			}
		}
	}
	// 设置个人资料
	.setting_box{
		.emailView,.setting_title{
			font-size:$uni-font-size-base;
		}
		.submit_button{
			.submit_btn{
				font-size:$uni-font-size-base;
			}
		}
	}
	// 设置登陆密码
	.setTopView{
		.userText1,.userAccount,.userText1,.newText2{
			font-size:$uni-font-size-base;
		}
	}
	.setLoginPwds,.setFundsPwds{
		.setting_title{
			font-size:$uni-font-size-base;
		}
		.setting{
			button{
				font-size:$uni-addBig-26;
			}
		}
		.submits{
			.submit_btn{
				font-size:$uni-font-size-base;
			}
		}
	}
	// 字体大小
	&.fontSizeView{
		.bindInfo{
			font-size:$uni-font-size-base;
		}
	}
	// 交易明细
	&.tradeRecordView{
		.condition{
			font-size:$uni-addBig-30;
		}
		.tradeType,.dateTimer,.type{
			font-size:$uni-addBig-26;
		}
		.tradeBodyDetails{
			.tradeTitle{
				.p1{
					font-size:$uni-addBig-32;
				}
			}
			.tradeContainer{
				font-size:$uni-addBig-28;
			}
		}
		.selectButton{
			.btn{
				font-size:$uni-font-size-base;
			}
		}
	}
}


/**
 * 超大号字体样式
 */
$uni-oversized-28:28upx;
$uni-oversized-30:30upx;
$uni-oversized-32:32upx;
$uni-oversized-34:34upx;
$uni-oversized-36:36upx;
$uni-oversized-38:38upx;
$uni-oversized-40:40upx;
$uni-oversized-42:42upx;
$uni-oversized-48:48upx;
.daytime3{
	// 首页
	.service-text{
		font-size:$uni-font-size-base;
	}
	.category_home{
		.icon{
			font-size:$uni-oversized-38;
		}
		.categoryText{
			font-size:$uni-oversized-34;
		}
	}
	.text,.category_text,.news_title,.activity_text,.news_text{
		font-size:$uni-font-size-lg;
	}
	// 公告
	.annount_list{
		.atitle{
			font-size:$uni-oversized-38;
		}
		.annount_body{
			font-size:$uni-oversized-32;
		}
		.annount_time{
			font-size:$uni-oversized-32;
		}
	}
	// 行情
	.top-warp{
		.tabs{
			font-size:$uni-font-size-lg;
		}
	}
	.pd-list{
		.icon{
			font-size:$uni-font-size-lg;
		}
		.market_title{
			font-size:$uni-font-size-lg;
		}
		.market_percentage {
			font-size:$uni-oversized-28;
		}
		.market_remark{
			font-size:$uni-oversized-30;
		}
		.undulate_price{
			font-size:$uni-oversized-40;
		}
		.market_Timer{
			font-size:$uni-oversized-30;
		}
		.upDropSpeedText{
			font-size:$uni-oversized-28;
		}
	}
	// 行情图页面
	.marketHeader{
		.right_btn{
			font-size:$uni-oversized-30;
		}
	}
	.marketChartInfo{
		.name{
			font-size:$uni-oversized-40;
		}
		.code{
			font-size:$uni-oversized-34;
		}
		.marketPrice_ratio{
			.blockLeft{
				font-size:$uni-oversized-48;
			}
			.blockRight{
				.one,.two{
					font-size:$uni-oversized-36;
				}
			}
		}
		.positionBtn{
			font-size:$uni-oversized-30;
		}
		.nowPositionTimer{
			font-size:$uni-oversized-28;
		}
		.buyMallNum{
			font-size:$uni-oversized-28;
		}
	}
	.quickOrder{
		.rise-top{
			font-size:$uni-oversized-36;
		}
		.rise-bottom{
			font-size:$uni-oversized-36;
		}
		.quick-text{
			font-size:$uni-oversized-28;
		}
	}
	.quick{
		.model{
			font-size:$uni-oversized-36;
		}
		.hand-num-view,.stop-loop-amount{
			font-size:$uni-oversized-30;
		}
	}
	// 登陆
	.login_form{
		.userPhone,.userPassword{
			font-size:$uni-font-size-lg;
		}
		.forget_password,.checkBoxText,.login_submit_int{
			font-size:$uni-font-size-lg;
		}
	}
	// 我的
	.all_intOut{
		.email,.item_text,.grid-title,.intOutText,.withdraw_rechange_title,.rate{
			font-size:$uni-font-size-lg;
		}
		.goReadNameTwo,.goReadName{
			font-size:$uni-oversized-30;
		}
		.num{
			font-size:$uni-oversized-40;
		}
	}
	.noLogin{
		.go{
			font-size:$uni-font-size-base;
		}
	}
	// 实名认证
	&.realNameView{
		.tip{
			font-size:$uni-font-size-base;
		}
		.realInput{
			.realNameInputView,.realNameInput,.cartId{
				font-size:$uni-font-size-base;
			}
		}
		.submit_realName{
			button{
				font-size:$uni-font-size-base;
			}
		}
	}
	// 设置
	.setting_box{
		.setting_title{
			font-size:$uni-font-size-lg;
		}
	}
	// 钱包
	.balance_list{
		.balance_flex,.btn{
			font-size:$uni-font-size-lg;
		}	
	} 
	// 提现
	.withdrawBox{
		.nowMoneyNum,.withdraw_text,.bankName,.goBank,.noBindBanks{
			font-size:$uni-font-size-lg;
		}
	}
	.addNewBank,.selectBankName{
		font-size:$uni-font-size-lg;
	}
	.tipView{
		.title{
			font-size:$uni-oversized-42;
		}
		.p1{
			font-size:$uni-oversized-34;
		}
	}
	// 银行卡
	.tip_box{
		.sp2{
			font-size:$uni-oversized-38;
		}
		.sp3{
			font-size:$uni-oversized-34;
		}
	}
	.titles,.add_text{
		font-size:$uni-oversized-34;
	}
	// 添加银行卡
	.addBank_tip{
		font-size:$uni-font-size-base;
	}
	.flexBankView{
		font-size:$uni-font-size-lg;
	}
	.bankNumber{
		font-size:$uni-font-size-lg;
	}
	.submit_cartNumber{
		button{
			font-size:$uni-font-size-lg;
		}
	}
	// 安全中心
	.userBindInfo{
		.bind{
			font-size:$uni-oversized-38;
		}
	}
	// 充值记录
	&.rechargeRecordView{
		.rechargeView{
			.rechargeTitle{
				font-size:$uni-font-size-lg;
			}
			.rechargeBox,.typeTimer{
				font-size:$uni-font-size-base;
			}
		}
		.selectBtn{
			.btn{
				font-size:$uni-font-size-base;
			}
		}
	}
	// 充值类型
	.typeTerm,.typeTerm1,.typeTerm2,.typeTerm3,.typeTerm4,.typeTerm5,.typeTerm6,.typeTerm7,.typeTerm8{
		.typeTermTitle{
			font-size:$uni-font-size-lg;
		}
		.typeList,.typeTimer,.typeBox{
			font-size:$uni-font-size-lg;
		}
	}
	// 提现记录
	&.withdrawRecordView{
		.withdrawView{
			.withdrawTitle{
				font-size:$uni-oversized-40;
			}
			.withdrawBox{
				font-size:$uni-oversized-32;
			}
		}
		.selectBtn{
			.btn{
				font-size:$uni-font-size-lg;
			}
		}
	}
	// 设置个人资料
	.setting_box{
		.emailView,.setting_title{
			font-size:$uni-font-size-lg;
		}
		.submit_button{
			.submit_btn{
				font-size:$uni-font-size-lg;
			}
		}
	}
	// 设置登陆密码
	.setTopView{
		.userText1,.userAccount,.userText1,.newText2{
			font-size:$uni-font-size-lg;
		}
	}
	.setLoginPwds,.setFundsPwds{
		.setting_title{
			font-size:$uni-font-size-lg;
		}
		.setting{
			button{
				font-size:$uni-oversized-28;
			}
		}
		.submits{
			.submit_btn{
				font-size:$uni-font-size-lg;
			}
		}
	}
	// 字体大小
	&.fontSizeView{
		.bindInfo{
			font-size:$uni-font-size-lg;
		}
	}
	// 交易明细
	&.tradeRecordView{
		.condition{
			font-size:$uni-font-size-lg;
		}
		.tradeType,.dateTimer,.type{
			font-size:$uni-font-size-sm;
		}
		.tradeBodyDetails{
			.tradeTitle{
				.p1{
					font-size:$uni-font-size-lg;
				}
			}
			.tradeContainer{
				font-size:$uni-font-size-sm;
			}
		}
		.selectButton{
			.btn{
				font-size:$uni-font-size-lg;
			}
		}
	}
}