.securityTable{
	padding:50rpx 20rpx 0;
	background:rgb(27, 130, 209);
	position:relative;
	overflow:hidden;
	height:400rpx;
	.wave{
		background:#fbfcee;
		position:absolute;
		border-radius:100%;
		&.one{
			width:580rpx;
			height:580rpx;
			background:linear-gradient(left,rgb(27, 130, 209),rgba(42, 205, 253,.1));
			left:-180rpx;
			bottom:-300rpx;
			z-index:2;
		}
		&.tow{
			width:580rpx;
			height:580rpx;
			background:linear-gradient(left,rgb(27, 130, 209),rgba(42, 205, 253,.1));
			right:120rpx;
			bottom:-200rpx;
			z-index:1;
		}
		&.three{
			width:400rpx;
			height:400rpx;
			background:rgba(42, 205, 253,.1);
			right:-80rpx;
			bottom:-160rpx;
			z-index:2;
		}
	}
}
.userBindInfo{
	.bindInfo{
		width:90%;
		padding:20rpx 10rpx;
		margin:20rpx auto 0;
		border-bottom:1rpx solid #eee;
		display:flex;
		flex-direction: row;
		.bindIconView{
			flex:0 0 100rpx;
			width:100rpx;
			.bindIcon{
				width:80rpx;
				height:80rpx;
				border-radius:80rpx;
				background:#f6f6f6;
				border:dashed rgba(27, 130, 209,0.5) 1rpx;
				text-align:center;
				line-height:80rpx;
				margin:0 auto;
			}
		}
		.bindTitle{
			flex:0 0 460rpx;
			width:460rpx;
			font-size:32rpx;
			color:#666;
			line-height:80rpx;
			text-indent:10rpx;
		}
		.binStatus{
			flex:1;
			font-size:32rpx;
			line-height:80rpx;
			text-align:right;
			color:#444;
			display:flex;
			flex-direction:row-reverse;
			.state{
				width:40rpx;
				height:40rpx;
				margin-top:15rpx;
				margin-right:10rpx;
				opacity:0.8;
				.stateImg{
					width:100%;
					height:100%;
				}
			}
		}
	}
}